{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
    <div id="redecso" class="d-flex h-25 align-items-center justify-content-center">
        <div class="">
            <h1 class="fw-bold text-black-50">REDECSO</h1>
        </div>
    </div>

    <div class="d-flex h-50 align-items-center justify-content-center text-white">
{#        <div class="container">#}
{#            <section>#}
                <form method="post">

{#                    {% if error %}#}
{#                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#                    {% endif %}#}

{#                    {% if app.user %}#}
{#                        <div class="mb-3">#}
{#                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#                        </div>#}
{#                    {% endif %}#}

{#                    <label>#}
{#                        <div class="label-text">Connectez-vous :</div>#}
{#                    </label>#}

{#                    <label for="inputEmail">#}
{#                        <input type="email" value="{{ last_username }}" name="email"name="email" id="email inputEmail" autocomplete="email" required  />#}
{#                        <div class="label-text">Email</div>#}
{#                    </label>#}

{#                    <label for="inputPassword">#}
{#                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required />#}
{#                        <div class="label-text">Phone Number</div>#}
{#                    </label>#}
{#                    <input type="hidden" name="_csrf_token"#}
{#                           value="{{ csrf_token('authenticate') }}"#}
{#                    >#}
{#                    <button type="submit" value="Submit">connection</button>#}



                    <h1 class="d-flex align-items-center justify-content-center h3 mb-3 font-weight-normal">Connectez-vous :</h1>

                    <label class="d-flex align-items-center justify-content-center " for="inputEmail">Email :</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                    <label class="d-flex mt-2 align-items-center justify-content-center" for="inputPassword">Mot de passe :</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>


                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <div class="d-flex align-items-center justify-content-center" >
                        <button class="btn mt-3  btn-outline-primary" type="submit">
                            Connection
                        </button>
                    </div>


                </form>
{#            </section>#}
{#        </div>#}
    </div>







{#    <body>#}
{#    <div class="container">#}
{#        <section>#}
{#            <form>#}
{#                <label>#}
{#                    <input name="name" id="name" type="text" required />#}
{#                    <div class="label-text">Full Name</div>#}
{#                </label>#}
{#                <label>#}
{#                    <input type="email" name="email" id="email" required />#}
{#                    <div class="label-text">Email</div>#}
{#                </label>#}
{#                <label>#}
{#                    <input type="tel" name="phone" id="phone" required />#}
{#                    <div class="label-text">Phone Number</div>#}
{#                </label>#}
{#                <button type="submit" value="Submit">Submit</button>#}
{#            </form>#}
{#        </section>#}
{#    </div>#}
{#    </body>#}
{% endblock %}
