{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('home') }}
    {% endblock %}
{% block body %}

        <table class="dataTable table table-bordered table-stripped">
           <thead>
               <tr>
                   <th>Id</th>
                   <th>Nom</th>
                   <th>Prénom</th>
                   <th>Entreprise</th>
                   <th>civilite</th>
                   <th>Adresse</th>
                   <th>Cplt_adresse</th>
                   <th>Telephone</th>
                   <th>Email</th>
                   <th>CodePostal</th>
                   <th>Ville</th>
               </tr>
           </thead>

            <tbody>
                {% for client in clients %}
                    <tr>
                        <th>{{ client.id }}</th>
                        <th>{{ client.Nom }}</th>
                        <th>{{ client.prenom }}</th>
                        <th>{{ client.entreprise ? 'Yes' : 'No' }}</th>
                        <th>{{ client.civilite }}</th>
                        <th>{{ client.adresse }}</th>
                        <th>{{ client.cpltAdresse }}</th>
                        <th>{{ client.telephone }}</th>
                        <th>{{ client.email }}</th>
                        <th>{{ client.codePostal }}</th>
                        <th>{{ client.ville }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    <div class="row justify-content-around">
        <a href="{{ path('devis_index') }}" class="col-5 m-1 col-xs-10 ">

            <button class="h-100 w-100 d-flex justify-content-center align-content-center   border rounded m-2">
                Devis
            </button>
        </a>

        <a href="" class="col-5 m-1 col-xs-10 ">
            <button class="h-100 w-100 d-flex justify-content-center align-content-center   border rounded m-2">
                Facture
            </button>
        </a>

        <a href="{{ path('client_index') }}" class="col-5 m-1 col-xs-10 ">
            <button class="h-100 w-100 d-flex justify-content-center align-content-center   border rounded m-2">
                Client
            </button>
        </a>

        <a href="{{ path('produit_index') }}" class="col-5 m-1 col-xs-10 ">
            <button class="h-100 w-100 d-flex justify-content-center align-content-center   border rounded m-2">
                Produit
            </button>
        </a>
    </div>



    {% endblock %}
