{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}



    {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('home') }}
    {% endblock %}


    {% block body %}
    <section class="portfolio-experiment h-100 w-100 d-flex justify-content-around flex-column ">

        <div class="d-flex justify-content-around ">
            <a class="" href="{{ path('devis_index') }} ">
                <span class="text">Devis</span>
                <span class="line -right"></span>
                <span class="line -top"></span>
                <span class="line -left"></span>
                <span class="line -bottom"></span>
            </a>

            <a class="" href="{{ path('devis_index') }} ">
                <span class="text">Facture</span>
                <span class="line -right"></span>
                <span class="line -top"></span>
                <span class="line -left"></span>
                <span class="line -bottom"></span>
            </a>
        </div>

        <div class="d-flex justify-content-around">
            <a class="" href="{{ path('client_index') }} ">
                <span class="text">Client</span>
                <span class="line -right"></span>
                <span class="line -top"></span>
                <span class="line -left"></span>
                <span class="line -bottom"></span>
            </a>

            <a class="" href="{{ path('produit_index') }} ">
                <span class="text"> Produit</span>
                <span class="line -right"></span>
                <span class="line -top"></span>
                <span class="line -left"></span>
                <span class="line -bottom"></span>
            </a>
        </div>
    </section>


        <!-- Footer -->
        <footer id="footer_social" class=" text-center text-white">
            <!-- Grid container -->
            <div class="container">

                <!-- Section: Social media -->
                <section class="mb-4">

                    <!-- Linkedin -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                    <!-- Github -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/Moodyy92" role="button"><i class="fab fa-github"></i></a>
                </section>
                <!-- Section: Social media -->
            </div>

            <!-- Copyright -->
            <div class="text-center" style="">
                © 2020 Copyright:
                <a class="text-white">Mathieu Rollet</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    {% endblock %}
