<!------------------------------------ INPUT FORM DE TACHE ------------------------------------>
            {{ form_start(tacheForm) }}
                    <td></td>
                    <td>{{ form_widget(tacheForm.libelle) }}</td>
                    <td class="w-100 text-dark">{{ form_widget(tacheForm.produit) }} </td>
                    <td>{{ form_widget(tacheForm.nbProduit) }} </td>
                    <td>{{ form_widget(tacheForm.prix) }}
                         <button id="add_tache" class="btn btn-outline-info">{{ button_label|default('Save') }}</button>
                    </td>
            {{ form_end(tacheForm) }}