{% extends 'base.html.twig' %}

{% block title %}Devis index{% endblock %}

{% block body %}
    <h1>Devis index</h1>

    <table id="dataTable" class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Objet</th>
                <th>Ref</th>
                <th>Signature</th>
                <th>Descriptif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devi in devis %}
            <tr>
                <td>{{ devi.id }}</td>
                <td>{{ devi.date ? devi.date|date('Y-m-d') : '' }}</td>
                <td>{{ devi.objet }}</td>
                <td>{{ devi.ref }}</td>
                <td>{{ devi.signature ? devi.signature|date('Y-m-d') : '' }}</td>
                <td>{{ devi.descriptif }}</td>
                <td>
                    <a href="{{ path('devis_show', {'id': devi.id}) }}">show</a>
                    <a href="{{ path('devis_edit', {'id': devi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('devis_new') }}">Create new</a>
{% endblock %}
