{% extends 'base.html.twig' %}

{% block title %}New Devis{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('devis_client') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('devis_client') }}
{% endblock %}

{% block body %}

<div class="w-100 d-flex pt-5" id="js-devis-head">
    <img src="{{ asset('build/images/'~redecso.logo) }}">
</div>



     <div>
         <div id="js-client_div" class="d-flex justify-content-end w-100"></div>
         <div id="js-adresse_div" class="d-flex justify-content-end w-100"></div>
         <div id="js-cp_ville_div" class="d-flex justify-content-end w-100"></div>
     </div>
    <div>
        <div id="js-objet_div" class="d-flex justify-content-start w-100 "></div>
        <div id="js-reference_div" class="d-flex justify-content-start w-100"></div>
    </div>


<div class="d-flex justify-content-center" >
    <div id="vue-devis">
        <container class="d-flex row">
            <div class="d-flex justify-content-center">
                {{ include('devis/_form.html.twig') }}
            </div>

            <table id="js-tableau" style="display: none;" class="table text-black table-bordered mt-5">
                <thead>
                    <tr>
                        <th scope="col">Categorie / Tache</th>
                        <th scope="col">Description</th>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="js-form-categorie" style="display: none;">
                        {{ include('categorie/_form.html.twig') }}
                    </tr>
                    <tr id="js-form-tache" style="display: none;">
                        {{ include('tache/_form.html.twig') }}
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-center">
                {{ include('produit/partials/_form_devis.html.twig') }}
            </div>
        </container>

        <div id="js-form-etape-2" style="display: none;">
            <div class="d-flex justify-content-center row mt-1" >
                <div class="d-flex row">
                    <h3  class="d-flex justify-content-center mx-2">Choisissez l'action que vous souhaitez crée :</h3>
                    <div class="d-flex justify-content-center">
                        <button id="js-btn-show-Categorie" class="btn btn-outline-primary mx-2">Une catégorie</button>
                        <button id="js-btn-show-tache" class="btn btn-outline-primary mx-2">Une Tache</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center ">
            <button id="js-btn-add-html" class="btn btn-sm btn-outline-info justify-content-center">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>


        <footer class=" d-flex flex-column w-100 text-center ">
            <div class="d-flex justify-content-center w-100 pt-4">
                RIB : <br>
                Code Banque : {{  redecso.codeBanque }} Code Guichet : {{ redecso.codeGuichet}} Code BIC : {{ redecso.codeBIC }} <br>
                Numéro de compte : {{ redecso.numCompte}} Clé : {{ redecso.cleCompte }}<br>
                Domiciliation : {{ redecso.domiciliationCompte }}<br>
                Numéro de Compte IBAN : {{ redecso.IBAN }}<br>

            </div>

            <div class="d-flex justify-content-center w-100 pt-4">
                {{ redecso.nom }} {{ redecso.adresse}} {{ redecso.cp}} {{ redecso.ville }}. SARL au Capital de {{ redecso.capital }}€. <br>
                N° Siret : {{ redecso.siret }} - Code APE : {{ redecso.codeAPE}} - N° TVA intracommunautaire : {{ redecso.numTVAIntracommunautaire }}<br>
                Direction Commercial: Vandeputte Hervé 06.09.22.22.26 / Direction Technique: Haddadi Tahar 06.28.23.92.77 <br>
                Adresse Mail : {{ redecso.email }}
            </div>
        </footer>
    </div>


    <footer class=" d-flex ">
        <a href="{{ path('devis_index') }}">
            <button class="btn btn-outline-danger">Liste Facture</button>
        </a>
    </footer>
</div>


{% endblock %}
