{% extends '/devis/devis_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('devis_show') }}
{% endblock %}
{% block tbody %}

    <div id="js-info-client">
        <div id="scss-info-client">
            <div id="js-client_div" class="d-flex justify-content-end w-100">{{ devi.client }}</div>
            <div id="js-adresse_div" class="d-flex justify-content-end w-100">{{ devi.client.adresse }}</div>
            <div id="js-cp_ville_div" class="d-flex justify-content-end w-100">{{ devi.client.codePostal }}</div>
        </div>
        <div id="">
            <div id="js-objet_div" class="d-flex justify-content-start w-100 ">{{ devi.objet }}</div>
            <div id="js-reference_div" class="d-flex justify-content-start w-100"> {{ devi.ref }}</div>
        </div>
    </div>


            {% for categorie in devi.categories %}
            <tr>
                <td>{{ categorie.libelle }} :</td>
                {% for taches in categorie.taches %}
                    <tr>
                        <td></td>
                        <td>{{ taches.libelle }}</td>
                        <td>{{ taches.produit.libelle }}</td>
                        <td></td>
                        <td>{{ taches.produit.prix }}</td>
                    </tr>
                {% endfor %}
            </tr>
            {% endfor %}


{% endblock %}
