{{ form_start(form, {'attr': {'class': 'd-flex justify-content-around'} }) }}

<div class="my-custom-class-for-errors ">
    {{ form_errors(form) }}
</div>

    <div class="text-black">
        <div class="col my-1">
            {{ form_widget(form.libelle) }}
        </div>
        <div class="col my-1">
            {{ form_widget(form.prix) }}
        </div>
        <div class="col my-1">
            {{ form_widget(form.marque) }}
        </div>

        <div class="col my-1">
            <button class="btn btn-outline-info ">Valider les modifications</button>
        </div>
    </div>
{{ form_end(form) }}