{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('produit') }}
{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table id="dataTable" class="table table-bordered table-stripped text-white my-5">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Libelle</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr class="table-dark">
                <td class="table-secondary">{{ produit.marque.libelle }}</td>
                <td class="table-secondary">{{ produit.libelle }}</td>
                <td class="table-secondary">{{ produit.prix }} €</td>
                <td class="d-flex">
                    <button type="button" data-target="{{ path('produit_show', {'id': produit.id}) }}" class="produit_show btn btn-outline-success mx-1 ">
                        <i class="fas fa-eye"></i>
                    </button>

                    <button type="button" data-target="{{ path('produit_edit', {'id': produit.id}) }}" class="produit_edit btn btn-outline-warning mx-1 ">
                        <i class="fas fa-pen fa-xs"></i>
                    </button>

                    <form method="post" action="{{ path('produit_delete', {'id': produit.id}) }}" id="form_delete_produit" >
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
                        <button class="btn btn-outline-danger  mx-1 href="">
                        <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="modale" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{#    <a href="{{ path('produit_new') }}">#}
{#        <button class="btn-primary">Ajouter un Produit</button>#}
{#    </a>#}

{#    //TODO mettre la modale en place#}
    <div class="d-flex justify-content-center">
        <button type="button" data-target="{{ path('produit_new') }}" class="add_produit btn btn-outline-info rounded-pill ">
            Ajouter un nouveau Produit
        </button>
    </div>
{% endblock %}
