<table class="dataTable table table-bordered table-stripped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ client.entreprise ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Civilite</th>
                <td>{{ client.civilite }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>Cplt_adresse</th>
                <td>{{ client.cpltAdresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ client.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ client.ville }}</td>
            </tr>
        </tbody>
    </table>

{#<a href="{{ path('client_index') }}"><button class="btn-primary">Retour a la Liste</button></a>#}
<button class="client_edit_modale btn-warning" data-url="{{ path('client_edit', {'id': client.id}) }}">Éditer Client</button>
